<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avenue Pizza - Home</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/about-us.css">
</head>
<body>
    <header>
        <nav>
            <a href="../../index.html" class="logo"><span class="text-food">Avenue</span> Pizza</a>
            <ul class="nav-links">
                <li><a href="../../index.html">Home</a></li>
                <li><a href="menu.html">Menu</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="deals.html">Deals</a></li>
            </ul>
        </nav>
        <hr>
    </header>
    <main>
        <div class="banner">
            <div class="overlay"></div> <!-- This is the dim effect -->
            <div class="banner-content">
                <h1>About Us</h1>
                <p>At Avenue Pizza, we craft delicious, handcrafted pizzas and appetizers using the freshest ingredients. Family-owned and community-focused, we’re passionate about bringing people together over great food and warm hospitality.</p>
            </div>
        </div>

        <div class="content">
            <div class="content-details">
                <h1 class="content-details-title text-great">History</h1>
                <p class="content-details-description"><b><span class="text-food">Avenue</span> Pizza</b> started as a small family-owned pizzeria with a big dream: to serve authentic, handcrafted pizzas made with love. Over the years, we’ve grown into a local favorite, known for our fresh ingredients, cozy atmosphere, and commitment to quality.</p>
            </div>
            <div class="content-details">
                <img src="../images/restaurant1.jpg" alt="">
            </div>
        </div>
        <div class="content reverse">
            <div class="content-details">
                <h1 class="content-details-title text-great">What sets us apart?</h1>
                <p class="content-details-description">
                    Every dish is crafted with care, from our daily-made dough to our handpicked toppings, ensuring every bite is fresh and flavorful. Our cozy, welcoming atmosphere and friendly service make every visit feel like coming home. At Avenue Pizza, we’re proud to bring people together over great food and unforgettable experiences.
                </p>
            </div>
            <div class="content-image">
                <img src="../images/restaurant2.jpg" alt="">
            </div>
        </div>
    </main>
</body>
</html>