<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avenue Pizza - Home</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/contact.css">
</head>
<body>
    <header>
        <nav>
            <a href="../../index.html" class="logo"><span class="text-food">Avenue</span> Pizza</a>
            <ul class="nav-links">
                <li><a href="../../index.html">Home</a></li>
                <li><a href="menu.html">Menu</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="deals.html">Deals</a></li>
            </ul>
        </nav>
        <hr>
    </header>
    <main>
        <div class="banner">
            <div class="overlay"></div> <!-- This is the dim effect -->
            <div class="banner-content">
                <h1>Get In Touch </h1>
            </div>
        </div>


        <div class="contact">

            <div class="contact-map">
                <h1>Our Location</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6050.327156595849!2d-74.10275487609839!3d40.69239490495329!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25109f7776487%3A0x20aadff8210127ff!2sCasa%20Latina!5e0!3m2!1sen!2sbd!4v1742448587293!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="contact-details">
                
                <div class="contact-details-box full-width">
                    <h1>Send Us a Message</h1>
                    <form action="" class="contact-form">
                        <div class="form-group">
                            <input type="text" class="input-field" placeholder="First name">
                            <input type="text" class="input-field" placeholder="Last name">
                        </div>
                        <div class="form-group"><input type="email" class="input-field" placeholder="Enter Email"></div>
                        <div class="form-group"><input type="text" class="input-field" placeholder="Subject"></div>
                        <div class="form-group"><textarea name="" id="" placeholder="Write message"></textarea></div>
                        <button>Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="">
            <h1>Find Us</h1>
            <p>445 Mount Eden Road,<br>Mount Eden</p>
            <p>21 Greens RD 2 Ruawai 0592</p>
            <p>+123 456 789</p>
            <p>info@example.com</p>
        </div>
        <div class="">
            <h1>Opening Hours</h1>
            <p>Mon - Wed: 8:00am - 8:00pm</p>
            <p>Thu: 8:00am - 5:00pm</p>
            <p>Fri: 8:00am - 8:00pm</p>
            <p>Sat - Sun: 8:00am - 2:00pm</p>
        </div>
    </footer>
</body>
</html>